/* Ensure the HTML and body take up the full height and width */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Ensure the root div takes up the full height and width */
#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Style to make the calendar component take the full height and width */
.calendar-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
